@model List<LNBshop.Models.CartItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Cart view section -->
<section id="cart-view">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-view-area">
                    <div class="cart-view-table">
                        @if (Model.Count > 0)
                        {
                            <form action="">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Sản phẩm</th>
                                                <th>Tên sản phẩm</th>
                                                <th>Gía tiền</th>
                                                <th>Số lượng</th>
                                                <th>Thành tiền</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @{
                                                var Total = 0;
                                            }
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td><a href="#" data-id="@item.Product.ID" class="btn-delete"><fa class="fa fa-close"></fa></a></td>
                                                    <td><a href="/chi-tiet/@item.Product.MetaTitle-@item.Product.ID"><img src="@item.Product.Image" alt="img"></a></td>
                                                    <td><a class="aa-cart-title" href="#">@item.Product.Name</a></td>
                                                    <td>@(item.Product.PromotionPrice.HasValue? item.Product.PromotionPrice.Value.ToString("N0"):item.Product.Price.Value.ToString("N0"))<sup>đ</sup></td>
                                                    <td><input class="txtQuantity" type="number" data-id="@item.Product.ID" value="@item.Quantity" min="1"></td>
                                                    <td>@(((item.Product.PromotionPrice.HasValue ? item.Product.PromotionPrice.Value : item.Product.Price.Value) * item.Quantity).ToString("N0"))</td>
                                                </tr>
                                                Total += Convert.ToInt32((item.Product.PromotionPrice.HasValue ? item.Product.PromotionPrice.Value : item.Product.Price.Value) * item.Quantity);
                                            }
                                            <tr>
                                                <td colspan="6" class="aa-cart-view-bottom">
                                                    <div class="aa-cart-coupon">
                                                        <a href="javascript:history.go(-1)" class="aa-cart-view-btn">Tiếp tục lựa sản phẩm</a>
                                                    </div>
                                                    <input class="aa-cart-view-btn" id="btnUpdate" type="submit" value="cập nhật số lượng">
                                                    <input class="aa-cart-view-btn" id="btnDeleteAll" type="submit" value="Xóa giỏ hàng">
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </form>
                            <!-- Cart Total view -->
                            <div class="cart-view-total">
                                <h4>Cart Totals</h4>
                                <table class="aa-totals-table">
                                    <tbody>
                                        <tr>
                                            <th>Tổng:</th>
                                            <td>@Total.ToString("N0") <sup>đ</sup></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <text>Quý khách cần đăng nhập mới thanh toán được !</text>
                                <a href="#" class="aa-cart-view-btn" id="btnPayment">Thanh toán</a>
                                
                            </div>
                        }
                        else
                        {
                            <center>
                                <span class="alert alert-danger">Giỏ hàng rỗng</span>
                            </center>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Cart view section -->
