
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var slides = (List<Models.EF.Slide>)ViewBag.Slides;
    var newProduct = (List<Models.EF.Product>)ViewBag.NewProduct;
    var hotProduct = (List<Models.EF.Product>)ViewBag.HotProduct;
    var newContent = (List<Models.EF.Content>)ViewBag.NewContent;
}

<!-- Start slider -->
<section id="aa-slider">
    <div class="aa-slider-area">
        <div id="sequence" class="seq">
            <div class="seq-screen">
                <ul class="seq-canvas">
                    <!-- single slide item -->
                    @foreach (var item in slides)
                    {
                        <li>
                            <div class="seq-model">
                                <img data-seq src="@item.Image" alt="Sản phẩm nổi bật" />
                            </div>
                            <div class="seq-title">
                                <p data-seq>@item.Description</p>
                                <a data-seq href="@item.Link" class="aa-shop-now-btn aa-secondary-btn">Xem ngay</a>

                            </div>
                        </li>
                    }

                </ul>
            </div>
            <!-- slider navigation btn -->
            <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
                <a type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
                <a type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
            </fieldset>
        </div>
    </div>
</section>
<!-- / slider -->
<!-- Products section -->
<section id="aa-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-product-area">
                        <div class="aa-product-inner">
                            <h1><b>Sản phẩm bán chạy:</b></h1>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- Start new product category -->
                                <div class="tab-pane fade in active" id="men">
                                    <ul class="aa-product-catg">
                                        <!-- start single product item -->
                                        @foreach (var item in hotProduct)
                                        {
                                            var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                                            <li>
                                                <figure>
                                                    <a class="aa-product-img" href="@url"><img src="@item.Image" width="250" height="300" alt="@item.Name"></a>
                                                    <a class="aa-add-card-btn" href="/them-gio-hang?productId=@item.ID&quantity=1"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                                                    <figcaption>
                                                        <h4 class="aa-product-title"><a href="@url">@item.Name</a></h4>
                                                        <span class="aa-product-price">@(item.PromotionPrice.HasValue? item.PromotionPrice.Value.ToString("N0"):item.Price.Value.ToString("N0"))<sup>đ</sup></span><span class="aa-product-price"><del>@(item.PromotionPrice.HasValue? "("+item.Price.Value.ToString("N0")+")":"")</del>)</span>
                                                    </figcaption>
                                                </figure>
                                                <div class="aa-product-hvr-content">
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                                                    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                                </div>
                                                <!-- product badge -->
                                                @*
                                                    <span class="aa-badge aa-sale" href="#">SALE!</span>
                                                    <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
                                                    <span class="aa-badge aa-hot" href="#">HOT!</span>
                                                *@
                                            </li>
                                        }
                                    </ul>
                                    <a class="aa-browse-btn" href="/san-pham">Xem thêm <span class="fa fa-long-arrow-right"></span></a>
                                </div>
                                <!-- / new product category -->
                            </div>
                            <!-- quick view modal -->
                            <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <div class="row">
                                                <!-- Modal view slider -->
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="aa-product-view-slider">
                                                        <div class="simpleLens-gallery-container" id="demo-1">
                                                            <div class="simpleLens-container">
                                                                <div class="simpleLens-big-image-container">
                                                                    <a class="simpleLens-lens-image" data-lens-image="~/Data/Image/Product/img/view-slider/large/polo-shirt-1.png">
                                                                        <img src="~/Data/Image/Product/img/view-slider/medium/polo-shirt-1.png" class="simpleLens-big-image">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="simpleLens-thumbnails-container">
                                                                <a href="#" class="simpleLens-thumbnail-wrapper"
                                                                   data-lens-image="~/Data/Image/Product/img/view-slider/large/polo-shirt-1.png"
                                                                   data-big-image="~/Data/Image/Product/img/view-slider/medium/polo-shirt-1.png">
                                                                    <img src="~/Data/Image/Product/img/view-slider/thumbnail/polo-shirt-1.png">
                                                                </a>
                                                                <a href="#" class="simpleLens-thumbnail-wrapper"
                                                                   data-lens-image="~/Data/Image/Product/img/view-slider/large/polo-shirt-3.png"
                                                                   data-big-image="~/Data/Image/Product/img/view-slider/medium/polo-shirt-3.png">
                                                                    <img src="~/Data/Image/Product/img/view-slider/thumbnail/polo-shirt-3.png">
                                                                </a>

                                                                <a href="#" class="simpleLens-thumbnail-wrapper"
                                                                   data-lens-image="~/Data/Image/Product/img/view-slider/large/polo-shirt-4.png"
                                                                   data-big-image="~/Data/Image/Product/img/view-slider/medium/polo-shirt-4.png">
                                                                    <img src="~/Data/Image/Product/img/view-slider/thumbnail/polo-shirt-4.png">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Modal view content -->
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="aa-product-view-content">
                                                        <h3>T-Shirt</h3>
                                                        <div class="aa-price-block">
                                                            <span class="aa-product-view-price">$34.99</span>
                                                            <p class="aa-product-avilability">Avilability: <span>In stock</span></p>
                                                        </div>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis animi, veritatis quae repudiandae quod nulla porro quidem, itaque quis quaerat!</p>
                                                        <h4>Size</h4>
                                                        <div class="aa-prod-view-size">
                                                            <a href="#">S</a>
                                                            <a href="#">M</a>
                                                            <a href="#">L</a>
                                                            <a href="#">XL</a>
                                                        </div>
                                                        <div class="aa-prod-quantity">
                                                            <form action="">
                                                                <select name="" id="">
                                                                    <option value="0" selected="1">1</option>
                                                                    <option value="1">2</option>
                                                                    <option value="2">3</option>
                                                                    <option value="3">4</option>
                                                                    <option value="4">5</option>
                                                                    <option value="5">6</option>
                                                                </select>
                                                            </form>
                                                            <p class="aa-prod-category">
                                                                Category: <a href="#">Polo T-Shirt</a>
                                                            </p>
                                                        </div>
                                                        <div class="aa-prod-view-bottom">
                                                            <a href="#" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                                                            <a href="#" class="aa-add-to-cart-btn">View Details</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                            <!-- / quick view modal -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Products section -->
<!-- popular section -->
<section id="aa-popular-category">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-popular-category-area">
                        <h1><b>Sản phẩm mới:</b></h1>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <!-- Start latest category -->
                            <div class="tab-pane fade in active" id="latest">
                                <ul class="aa-product-catg aa-latest-slider">
                                    <!-- start single product item -->
                                    @foreach (var item in newProduct)
                                    {
                                        var url = "/chi-tiet/" + item.MetaTitle + "-" + item.ID;
                                        <li>
                                            <figure>
                                                <a class="aa-product-img" href="@url"><img src="@item.Image" width="250" height="300" alt="@item.Name"></a>
                                                <a class="aa-add-card-btn" href="/them-gio-hang?productId=@item.ID&quantity=1"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                                                <figcaption>
                                                    <h4 class="aa-product-title"><a href="@url">@item.Name</a></h4>
                                                    <span class="aa-product-price">@(item.PromotionPrice.HasValue? item.PromotionPrice.Value.ToString("N0"):item.Price.Value.ToString("N0"))<sup>đ</sup></span><span class="aa-product-price"><del>@(item.PromotionPrice.HasValue? "("+item.Price.Value.ToString("N0")+")":"")</del>)</span>
                                                </figcaption>
                                            </figure>
                                            <div class="aa-product-hvr-content">
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
                                                <a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><span class="fa fa-exchange"></span></a>
                                                <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
                                            </div>
                                            <!-- product badge -->
                                            @*
                                                <span class="aa-badge aa-sale" href="#">SALE!</span>
                                                <span class="aa-badge aa-sold-out" href="#">Sold Out!</span>
                                                <span class="aa-badge aa-hot" href="#">HOT!</span>
                                            *@
                                        </li>
                                    }
                                </ul>
                                <a class="aa-browse-btn" href="/san-pham">Xem thêm <span class="fa fa-long-arrow-right"></span></a>
                            </div>
                            <!-- / latest product category -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / popular section -->
<!-- Support section -->
<section id="aa-support">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-support-area">
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-truck"></span>
                            <h4>MIỄN PHÍ GIAO HÀNG</h4>
                            <P>Miễn phí vận chuyển nội thành TP.HCM & Hà Nội.</P>
                        </div>
                    </div>
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-clock-o"></span>
                            <h4>7 NGÀY ĐỔI/TRẢ</h4>
                            <P>Cho phép đổi trả sản phẩm trong vòng 7 ngày</P>
                        </div>
                    </div>
                    <!-- single support -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="aa-support-single">
                            <span class="fa fa-money"></span>
                            <h4>THANH TOÁN TIỆN LỢI</h4>
                            <P>Nhận hàng rồi mới trả tiền !</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Support section -->
<!-- Latest Blog -->
<section id="aa-latest-blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-latest-blog-area">
                    <h2>Tin tức mới</h2>
                    <div class="row">
                        <!-- single latest blog -->
                        @foreach (var item in newContent)
                        {
                            <div class="col-md-4 col-sm-4">
                                <div class="aa-latest-blog-single">
                                    <figure class="aa-blog-img">
                                        <a href="#"><img src="@item.Image" alt="@item.Name"></a>
                                        <figcaption class="aa-blog-img-caption">
                                            <span href="#"><i class="fa fa-eye"></i>@item.ViewCount</span>
                                            <a href="#"><i class="fa fa-thumbs-o-up"></i>426</a>
                                            <a href="#"><i class="fa fa-comment-o"></i>20</a>
                                            <span href="#"><i class="fa fa-clock-o"></i>@item.CreatedDate</span>
                                        </figcaption>
                                    </figure>
                                    <div class="aa-blog-info">
                                        <h3 class="aa-blog-title"><a href="#">@item.Name</a></h3>
                                        <p>@item.Description</p>
                                        <a href="#" class="aa-read-mor-btn">Read more <span class="fa fa-long-arrow-right"></span></a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Latest Blog -->